@import "tailwindcss";
@import "./style.css";

@theme inline {
	--font-sans: var(--font-outfit);
}

:root {
	color-scheme: light dark;

	&[data-theme="light"] {
		color-scheme: light;
	}

	&[data-theme="dark"] {
		color-scheme: dark;
	}

	/* backward compatibility */
	--bg-page: light-dark(oklch(0.92 0.005 130), oklch(0.1 0.005 130));
	--bg-surface: light-dark(oklch(0.96 0.005 130), oklch(0.15 0.005 130));
	--bg-card: light-dark(oklch(1 0.005 130), oklch(0.2 0.005 130));

	--text: light-dark(oklch(0.15 0.01 130), oklch(0.96 0.01 130));
	--text-inverse: light-dark(oklch(0.96 0.01 130), oklch(0.15 0.01 130));
	--text-muted: light-dark(oklch(0.4 0.01 130), oklch(0.76 0.01 130));
	--text-dark: oklch(0.15 0.01 130);

	--primary: light-dark(oklch(0.82 0.1 130), oklch(0.77 0.1 130));
	--primary-bg: oklch(0.97 0.02 130);
	--primary-text: light-dark(oklch(0.52 0.11 131), oklch(0.82 0.1 130));
	--primary-hover: oklch(0.72 0.16 132);

	--secondary: light-dark(oklch(0.55 0.1 109), oklch(0.85 0.09 108));
	--secondary-text-dark: oklch(0.44 0.07 109);
	--secondary-hover: light-dark(oklch(0.89 0.07 108), oklch(0.89 0.05 108));
	--secondary-inverse: light-dark(oklch(0.85 0.09 108), oklch(0.55 0.1 109));

	--delete-button: light-dark(oklch(0.48 0.19 24), oklch(0.65 0.2 18));
	--delete-text-dark: oklch(0.36 0.14 22);
	--delete-hover: oklch(0.95 0.03 7);

	--color-income: light-dark(oklch(0.44 0.12 254), oklch(0.73 0.12 250));
	--income-bg: oklch(0.96 0.02 250);
	--income-text-dark: oklch(0.53 0.17 255);

	--color-expense: light-dark(oklch(0.48 0.15 41), oklch(0.71 0.12 44));
	--expense-bg: oklch(0.96 0.02 48);
	--expense-text-dark: oklch(0.48 0.15 41);

	--highlight: light-dark(oklch(1 0.01 130), oklch(0.5 0.01 130));
	--border: light-dark(oklch(0.6 0.01 130), oklch(0.4 0.01 130));
	--border-muted: light-dark(oklch(0.7 0.01 130), oklch(0.3 0.01 130));

	/* shadow */

	--shadow-color: 90deg 8% 10%;
	--shadow-elevation-low:
		0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
		1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium:
		0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.44),
		0.6px 1.2px 1.3px -1.2px hsl(var(--shadow-color) / 0.38),
		1.8px 3.5px 3.8px -2.4px hsl(var(--shadow-color) / 0.31),
		4.7px 9.3px 10px -3.6px hsl(var(--shadow-color) / 0.24);

	/* font */
	--font-family: "Outfit", sans-serif;

	/* spacing */
	--card-radius: 20px;
	--card-padding: 24px;
}

@theme {
	/* color */
	--color-bg-page: light-dark(oklch(0.92 0.005 130), oklch(0.1 0.005 130));
	--color-bg-surface: light-dark(oklch(0.96 0.005 130), oklch(0.15 0.005 130));
	--color-bg-card: light-dark(oklch(1 0.005 130), oklch(0.2 0.005 130));

	--color-text: light-dark(oklch(0.15 0.01 130), oklch(0.96 0.01 130));
	--color-text-inverse: light-dark(oklch(0.96 0.01 130), oklch(0.15 0.01 130));
	--color-text-muted: light-dark(oklch(0.4 0.01 130), oklch(0.76 0.01 130));
	--color-text-dark: oklch(0.15 0.01 130);

	--color-primary: light-dark(oklch(0.82 0.1 130), oklch(0.77 0.1 130));
	--color-primary-bg: oklch(0.97 0.02 130);
	--color-primary-text: light-dark(oklch(0.52 0.11 131), oklch(0.82 0.1 130));
	--color-primary-hover: oklch(0.72 0.16 132);

	--color-secondary: light-dark(oklch(0.55 0.1 109), oklch(0.85 0.09 108));
	--color-secondary-text-dark: oklch(0.44 0.07 109);
	--color-secondary-hover: light-dark(
		oklch(0.89 0.07 108),
		oklch(0.89 0.05 108)
	);
	--color-secondary-inverse: light-dark(
		oklch(0.85 0.09 108),
		oklch(0.55 0.1 109)
	);

	--color-delete-button: light-dark(oklch(0.48 0.19 24), oklch(0.65 0.2 18));
	--color-delete-text-dark: oklch(0.36 0.14 22);
	--color-delete-hover: oklch(0.95 0.03 7);

	--color-income: light-dark(oklch(0.44 0.12 254), oklch(0.73 0.12 250));
	--color-income-bg: oklch(0.96 0.02 250);
	--color-income-text-dark: oklch(0.53 0.17 255);

	--color-expense: light-dark(oklch(0.48 0.15 41), oklch(0.71 0.12 44));
	--color-expense-bg: oklch(0.96 0.02 48);
	--color-expense-text-dark: oklch(0.48 0.15 41);

	--color-highlight: light-dark(oklch(1 0.01 130), oklch(0.5 0.01 130));
	--color-border: light-dark(oklch(0.6 0.01 130), oklch(0.4 0.01 130));
	--color-border-muted: light-dark(oklch(0.7 0.01 130), oklch(0.3 0.01 130));

	/* Shadows */
	--shadow-elevation-low:
		0.3px 0.5px 0.7px hsl(90deg 8% 10% / 0.34),
		0.4px 0.8px 1px -1.2px hsl(90deg 8% 10% / 0.34),
		1px 2px 2.5px -2.5px hsl(90deg 8% 10% / 0.34);
	--shadow-elevation-medium:
		0.3px 0.5px 0.6px hsl(90deg 8% 10% / 0.44),
		0.6px 1.2px 1.3px -1.2px hsl(90deg 8% 10% / 0.38),
		1.8px 3.5px 3.8px -2.4px hsl(90deg 8% 10% / 0.31),
		4.7px 9.3px 10px -3.6px hsl(90deg 8% 10% / 0.24);

	/* border radius */
	--radius-card: 1.25rem;

	/* spacing */
	--spacing-card: 1.5rem;
}

@layer base {
	/* reset */
	html {
		/* Reserve scrollbar area */
		scrollbar-gutter: stable;
		/* Enable smooth scrolling for anchor links */
		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
		/* Enable keywords animations */
		interpolate-size: allow-keywords;
	}

	body {
		/* Improve text rendering */
		-webkit-font-smoothing: antialiased;
		/* hide horizontal overflow */
		overflow-x: hidden;

		@supports (overflow-x: clip) {
			overflow-x: clip;
		}
	}

	/* Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* Improve line wrapping */
	p {
		text-wrap: pretty;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	/* improve focus styles */
	:focus-visible {
		outline-offset: 3px;
		outline-style: dotted;
		outline-width: 3px;
	}

	/* opt in to custom select rendering */
	select,
	::picker(select) {
		appearance: base-select;
	}
}

@layer components {
	.button {
		@apply active:scale-95 transition-all duration-150 ease-in-out cursor-pointer;
	}

	.button--primary {
		@apply bg-primary hover:bg-primary-hover rounded-[12px] h-12 font-semibold text-[0.95rem] text-text-dark;
	}

	.button--secondary {
		@apply bg-secondary hover:bg-secondary-hover rounded-[12px] h-12 font-semibold text-[0.95rem] text-secondary-text-dark;
	}

	.button--action {
		@apply flex justify-center items-center hover:bg-secondary-hover rounded-full w-8 h-8 text-secondary hover:text-secondary-text-dark focus-visible:text-secondary-text-dark;
	}

	.button--delete {
		@apply flex justify-center items-center hover:bg-delete-hover rounded-full w-8 h-8 text-delete-button hover:text-delete-text-dark focus-visible:text-delete-text-dark;
	}

	.button--outline {
		@apply border border-border text-text-muted hover:text-text;
	}

	.tracker-card {
		@apply flex flex-col gap-4 bg-bg-card shadow-elevation-low p-card rounded-card;
	}

	.tracker-input {
		@apply min-block-12 inline-full bg-bg-card px-3 border border-border;
	}
}

@utility visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@utility primary {
	@apply text-primary-text;
}

@utility income {
	@apply text-income;
}

@utility expense {
	@apply text-expense;
}

@utility transaction-icon {
	@apply block-auto inline-4;
}

@utility icon-expense {
	@apply rotate-180;
}

@utility cap-alphabetic {
	text-box: trim-both cap alphabetic;
}

@utility anchor-theme-dropdown-button {
	anchor-name: --theme-dropdown-button;
}

@utility position-dropdown-popover {
	position-anchor: --theme-dropdown-button;

	position: absolute;
	position-area: end span-start;
	inline-size: anchor-size();
	margin-block-start: 0.2rem;
}
