/*  ===========================
    TRACKER APP — WRAPPER UTAMA
    =========================== */
.tracker-app {
	background-color: var(--bg-page);
	min-block-size: 100svh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	gap: 2rem;
}

.tracker-transaction-icon--larger {
	inline-size: 1.5rem;
	block-size: 1.5rem;
}

/*  ============
    TRACKER MAIN
    ============ */

.tracker-main {
	inline-size: 100%;
	max-block-size: max-content;
	display: flex;
	flex-direction: column;
	margin-inline: 1rem;
	padding: 1.5rem;
	background-color: var(--bg-surface);
	border-radius: var(--card-radius);
	box-shadow: var(--shadow-elevation-medium);

	@media (width >= 48rem) {
		max-inline-size: 50rem;
	}

	@media (width >= 64rem) {
		max-inline-size: 80rem;
	}
}

.tracker-main__summary,
.tracker-main__form-section {
	border-block-end: 1px solid var(--border-muted);
	padding-block-end: 2rem;
	margin-block-end: 2rem;
}
/* ==============
  TRACKER SUMMARY
   ============== */
.tracker-summary {
	display: grid;
	gap: 1.5rem;

	@media (width >= 48rem) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (width >= 64rem) {
		grid-template-columns: 2fr 1.25fr 1.25fr;
	}
}

.tracker-summary__label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.85rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-muted);
	letter-spacing: 0.05em;
	text-box: trim-both cap alphabetic;
}

/* saldo */
.tracker-summary__balance {
	@media (prefers-color-scheme: light) {
		background: linear-gradient(
			145deg,
			var(--bg-card) 40%,
			var(--primary-bg) 100%
		);
	}

	@media (width >= 48rem) {
		grid-column: span 2;
	}

	@media (width >= 64rem) {
		grid-column: auto;
	}
}

.tracker-summary__stat {
	justify-content: space-between;
}

.tracker-summary__stat--income {
	@media (prefers-color-scheme: light) {
		background: linear-gradient(
			145deg,
			var(--bg-card) 40%,
			var(--income-bg) 100%
		);
	}
}

.tracker-summary__stat--expense {
	@media (prefers-color-scheme: light) {
		background: linear-gradient(
			145deg,
			var(--bg-card) 40%,
			var(--expense-bg) 100%
		);
	}
}

.tracker-summary__balance-amount {
	font-size: 3.5rem;
	font-weight: 800;
	letter-spacing: -0.02em;
	margin-block-start: auto;
}

.tracker-summary__stat-amount {
	font-size: 2.25rem;
	font-weight: 700;
	letter-spacing: -0.02em;
}

/*  ====================
    TRACKER FORM SECTION
    ==================== */

.tracker-form-section {
	display: grid;
	gap: 1.5rem;
}

.tracker-form-section__heading {
	font-size: 0.85rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-muted);
	letter-spacing: 0.05em;
	text-box: trim-both cap alphabetic;
}

/*  ========================
    TRACKER TRANSACTION FORM
    ======================== */

.tracker-transaction-form {
	display: grid;
	gap: 1rem;
	align-items: start;

	@media (width >= 48rem) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (width >= 64rem) {
		grid-template-columns: repeat(6, 1fr);
	}
}

/* layout form field */
.tracker-transaction-form__field:first-child,
.tracker-transaction-form__field:nth-child(2) {
	@media (width >= 64rem) {
		grid-column: span 3;
	}
}

.tracker-transaction-form__field:nth-child(3),
.tracker-transaction-form__field:nth-child(4) {
	@media (width >= 64rem) {
		grid-column: span 2;
	}
}

/* form field */
.tracker-transaction-form__field {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.tracker-transaction-form__label {
	font-size: 0.85rem;
	font-weight: 500;
	color: var(--text);
}

.tracker-transaction-form__input {
	border-radius: 12px;
	font-size: 0.95rem;
	transition: all 0.2s;

	&:hover {
		@media (hover: hover) {
			border-color: var(--secondary);
			box-shadow: inset 0 0 0 1px var(--secondary);
		}
	}

	&:focus {
		outline: none;
		border-color: var(--secondary);
		box-shadow: inset 0 0 0 1px var(--secondary);
	}
}

/* select element */
select,
::picker(select) {
	appearance: base-select;
}

.tracker-transaction-form__field select {
	display: flex;
	align-items: center;
	cursor: pointer;

	&::picker-icon {
		transition: rotate 0.3s;
	}

	&:open::picker-icon {
		rotate: 180deg;
	}
}

::picker(select) {
	position-area: block-end span-inline-end;
	position-try-fallbacks: none;
	border: 1px solid var(--border);
	border-radius: 12px;
}

select option {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	background-color: var(--bg-card);
	block-size: 2rem;
	padding-inline: 1rem;
	transition: all 0.2s ease-in-out;

	&:not(:last-child) {
		border-block-end: 1px solid var(--border-muted);
	}

	&:checked {
		font-weight: 600;
	}

	&::checkmark {
		order: 1;
		margin-inline-start: auto;
	}

	&:hover {
		@media (hover: hover) {
			background-color: var(--secondary-hover);
			color: var(--text-dark);
			font-weight: 600;

			.income {
				color: var(--income-text-dark);
			}

			.expense {
				color: var(--expense-text-dark);
			}
		}
	}
}

/*  ===============
    TRACKER HISTORY
    =============== */

.tracker-history {
	display: grid;
	gap: 1.5rem;
}

/*  ==============
    TRACKER SEARCH
    ============== */

.tracker-search__input {
	border-inline-end: none;
	border-start-start-radius: 12px;
	border-end-start-radius: 12px;
	padding-inline-end: 2rem;
	transition:
		border-color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;

	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		appearance: none;
	}

	&:hover {
		@media (hover: hover) {
			border-color: var(--secondary);
			box-shadow:
				inset 1px 0 0 0 var(--secondary) /* Kiri */,
				inset 0 1px 0 0 var(--secondary) /* Atas */,
				inset 0 -1px 0 0 var(--secondary); /* Bawah */
		}
	}

	&:focus {
		outline: none;
		border-color: var(--secondary);
		box-shadow:
			inset 1px 0 0 0 var(--secondary) /* Kiri */,
			inset 0 1px 0 0 var(--secondary) /* Atas */,
			inset 0 -1px 0 0 var(--secondary); /* Bawah */
	}
}

.tracker-search__input-clear {
	position: absolute;
	display: none;
	opacity: 0;
	inset: 0;
	inset-inline-start: auto;
	padding-inline: 0.5rem;
	color: var(--text-muted);
	transition:
		display 0.2s ease-in-out allow-discrete,
		color 0.2s ease-in-out,
		opacity 0.2s ease-in-out allow-discrete;
	cursor: pointer;

	&:hover {
		@media (hover: hover) {
			color: var(--text);
		}
	}

	&:focus-visible {
		color: var(--text);
	}
}

.tracker-search__input-clear svg {
	inline-size: 1rem;
	block-size: 1rem;
	fill: currentColor;
}

/* menampilkan clear button ketika search bar memiliki value */
.tracker-search__input:valid + .tracker-search__input-clear {
	display: block;
	opacity: 1;

	@starting-style {
		opacity: 0;
	}
}

.tracker-search__submit {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-card);
	border: 1px solid var(--border);
	fill: var(--text-muted);
	inline-size: 3rem;
	border-inline-start: none;
	border-start-end-radius: 12px;
	border-end-end-radius: 12px;
	font-family: inherit;
	font-weight: 600;
	cursor: pointer;
	transition:
		color 0.2s ease-in-out,
		background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;

	&:hover {
		@media (hover: hover) {
			background-color: var(--secondary-hover);
			color: var(--text-dark);
		}
	}

	&:focus-visible {
		background-color: var(--secondary-hover);
		color: var(--text-dark);
	}
}

.tracker-search:has(:focus),
.tracker-search:has(:hover) {
	.tracker-search__input {
		border-color: var(--secondary);
		box-shadow:
			inset 1px 0 0 0 var(--secondary) /* Kiri */,
			inset 0 1px 0 0 var(--secondary) /* Atas */,
			inset 0 -1px 0 0 var(--secondary); /* Bawah */
	}

	.tracker-search__submit {
		border-color: var(--secondary);
		box-shadow:
			inset -1px 0 0 0 var(--secondary) /* Kanan */,
			inset 0 1px 0 0 var(--secondary) /* Atas */,
			inset 0 -1px 0 0 var(--secondary); /* Bawah */
	}
}

.tracker-search__submit svg {
	inline-size: 1.5rem;
	block-size: 1.5rem;
	fill: currentColor;
}
